[hub]
        protocol = https
[user]
        name = {{ full_name }}
        email = {{ git_email }}
{% if git_signing_key %}
        signingkey = {{ git_signing_key }}
{% endif %}
[credential]
        helper = osxkeychain
[alias]
        co = checkout
        cob = checkout -b
        amend = commit --amend

        please = push --force-with-lease
        publish = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"

        # http://gggritso.com/human-git-aliases
        unstage = reset -q HEAD --
        discard = checkout --
        uncommit = reset --mixed HEAD~

        url = "!f() { sha=$(git rev-parse ${1:-HEAD}); hub browse -u -- commit/$sha; }; f"
        # Copy current branch name to clipboard (macOS only)
        cb = "!git rev-parse --abbrev-ref HEAD | tr -d '\n' | pbcopy"

        # Archive
        archive-branch  = !git tag archive/$1 $1 && git branch -D $1
        archive-restore = !git checkout -b $1 archive/$1 && git tag -d archive/$1
        archive-list    = !git tag | grep '^archive/'
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        editor = vim
[rebase]
        autosquash = true
[apply]
        whitespace = nowarn
[mergetool]
        prompt = false
[difftool]
        prompt = false
[pager]
        diff = diff-so-fancy | less --tabs=1,5 -RFX
        show = diff-so-fancy | less --tabs=1,5 -RFX
[push]
        default = simple
[github]
        user = {{ git_user }}
[commit]
        gpgsign = true
        template = ~/.gitmessage
        cleanup = strip
[gpg]
        program = /usr/local/MacGPG2/bin/gpg2
[rerere]
        enabled = true
