[Unit]
Description=Dropbox

[Service]
Type=simple
ExecStart=/home/ben/.dropbox-dist/dropboxd
Restart=on-failure
RestartSec=1
StandardOutput=null
StandardError=syslog
SyslogIdentifier=dropbox

[Install]
WantedBy=basic.target
