[Unit]
Description=Sync Mailboxes

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -a
ExecStartPost=/home/linuxbrew/.linuxbrew/bin/notmuch new
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mbsync

[Install]
RequiredBy=timers.target
